<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zoznamServlet</servlet-name>
        <servlet-class>sk.michacu.zmenaren.ZoznamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pridanieMenyServlet</servlet-name>
        <servlet-class>sk.michacu.zmenaren.PridanieMenyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zmenarenServlet</servlet-name>
        <servlet-class>sk.michacu.zmenaren.ZmenarenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zoznamServlet</servlet-name>
        <url-pattern>/zoznam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zoznamServlet</servlet-name>
        <url-pattern>/zoznam*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zmenarenServlet</servlet-name>
        <url-pattern>/zmenaren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zmenarenServlet</servlet-name>
        <url-pattern>/zmenaren/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pridanieMenyServlet</servlet-name>
        <url-pattern>/pridaniemeny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pridanieMenyServlet</servlet-name>
        <url-pattern>/pridaniemeny*</url-pattern>
    </servlet-mapping>
</web-app>